h1(data-ng-show="currentUser") {{ currentUser.name }}

.well(data-ng-show="currentUser")
    h2 Upload book

    form.form(name="form", enctype="multipart/form-data", novalidate)
        .form-group
            label Book file
            input.form-control(type="file", name="file", data-ng-file-select="onFileSelect($files)")

    .jumbotron(data-ng-file-drop="onFileSelect($files)") Drag and Drop

    .progress
        .progress-bar(role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;")
            span {{ progress }}
            span(data-ng-show="progress") %

    button.btn.btn-danger(ng-click="upload.abort()") Cancel

.well(data-ng-show="currentUser")
    h2 List of files

    ul(data-ng-repeat="file in files")
        li {{ file[0].name }}
            button.btn.btn-danger(ng-click="deleteFile(file[0].name)") Delete

.well(data-ng-show="currentUser")
    h2 Create book

    form.form(name="form", novalidate, data-ng-submit="createBook()")
        .form-group
            label Book name
            input.form-control(type="text", name="name", value="{{ book.name }}", data-ng-model="book.name")

        .form-group
            label Book info
            textarea.form-control(name="info", value="{{ book.info }}", data-ng-model="book.info")

        button.btn.btn-primary(type="submit") Create

div(data-ng-repeat="book in books")
    h4 {{ book.name }}
    p {{ book.info }}

    .well(data-ng-show="currentUser")
        form.form(name="form", novalidate, data-ng-submit="updateBook(book._id)")
            .form-group
                label Book name
                input.form-control(type="text", name="name", value="{{ book.name }}", data-ng-model="book.name")

            .form-group
                label Book info
                textarea.form-control(name="info", value="{{ book.info }}", data-ng-model="book.info")

            .btn-toolbar
                button.btn.btn-primary(type="submit") Save changes
                button.btn.btn-danger(type="button", data-ng-click="deleteBook(book._id)") Delete book
