header.navbar.navbar-default.navbar-static-top.navbar-container-border(role="navigation", data-ng-controller="NavbarCtrl")
    .container-fluid
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                span.sr-only Меню
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a.navbar-brand(href="/", title="Mentelin")
                img.logo(src="/img/logo.svg", alt="Mentelin")

        nav.navbar-collapse.collapse
            h1.sr-only Меню

            ul.nav.nav-links.navbar-nav.navbar-right
                li
                    a.text-hover(href="#", title="Библиотека")
                        span.fa.fa-book.icon-left
                        span Библиотека

                li
                    a.text-hover(href="#", title="Поиск")
                        span.fa.fa-search.small.icon-search
                        span Поиск

                li(ng-show="currentUser", ng-class="{ active: isActive('/settings') }")
                    a.text-hover(href="/settings", title="{{ currentUser.name }}")
                        //- img.navbar-user-img.icon-left(src="", alt="{{ currentUser.name }}")
                        span.fa.fa-user.icon-left
                        span {{ currentUser.name }}

                li(ng-show="currentUser", ng-class="{ active: isActive('/logout') }")
                    a.text-hover(href="#", title="Выход", data-ng-click="logout()")
                        span.fa.fa-sign-out.icon-left
                        span Выход

                li(ng-hide="currentUser", ng-class="{ active: isActive('/login') }")
                    a.text-hover(href="/login", title="Вход")
                        span.fa.fa-sign-in.icon-left
                        span Вход

                li(ng-hide="currentUser", ng-class="{ active: isActive('/signup') }")
                    a.text-hover(href="/signup", title="Регистрация")
                        span.fa.fa-user.icon-left
                        span Регистрация
