@navbar-inverse-color: #fff;
@navbar-inverse-bg: #2a2a2a;

@border-radius-base: 2px;

@navbar-wrapper-height: @navbar-height + 20;

.navbar-wrapper {
  position: fixed;
  z-index: @zindex-navbar;
  width: 100%;
  height: @navbar-wrapper-height;

  .navbar-fixed-top {
    top: -@navbar-height;
    .transition(top ease .3s);

    &.open {
      top: 0;
    }
  }

  .navbar-fixed-bottom {
    bottom: -@navbar-height;
    .transition(bottom ease .3s);

    &.open {
      bottom: 0;
    }
  }
}

.navbar-wrapper-top {
  top: 0;
}

.navbar-wrapper-bottom {
  bottom: 0;
}

.navbar-header {
  float: left;
}

.navbar-brand {
  padding: 10px @navbar-padding-horizontal;
}

.navbar-btns {
  &.navbar-right:last-child {
    float: right;
    margin: 0;
  }

  > li {
    float: left;
    padding: 5px 2.5px;

    > a {
      min-width: 40px;
      padding: 10px;
      border-radius: @border-radius-base;
      background: @brand-primary;
      color: #fff;
      text-align: center;
    }
  }
}

.navbar-inverse {
  border: 0;

  .navbar-btns {
    li {
      a {
        color: #fff;
      }
    }

    .open {
      a {
        background: darken(@brand-primary, 10%);
      }

      .dropdown-menu {
        @media (max-width: @grid-float-breakpoint) {
          position: absolute;
          top: @navbar-height + 10;
          right: 0;
          left: auto;
          max-width: none;
          background: @navbar-inverse-bg;
          border-radius: 0;
        }
      }
    }
  }
}

.dropdown-menu {
  top: @navbar-height + 10;
  min-width: 200px;
  padding: 10px 15px;
  background: @navbar-inverse-bg;
  color: #fff;

  &:before {
    content: " ";
    position: absolute;
    top: -20px;
    right: 12px;
    border: 10px solid transparent;
    border-bottom-color: @navbar-inverse-bg;
  }
}

.btn-color {
  .square(40px);
  border-radius: @border-radius-large;

  &.active {
    border: 3px solid @brand-primary;
    .box-shadow(none);
  }

  + .btn-color {
    margin-left: .2em;
  }
}

.btn-white {
  background: #fff;
}

.btn-black {
  background: #000;
}

.btn-sepia {
  background: #e7dfc8;
}

.btn-page-wrapper {
  position: fixed;
  z-index: @zindex-navbar - 1;
  top: 0;
  bottom: 0;
  display: block;
  width: 5%;

  @media (min-width: @screen-md) {
    width: 11%;
  }
}

.btn-page-wrapper-prev {
  left: 0;

  .btn-page {
    left: 0;
  }
}

.btn-page-wrapper-next {
  right: 0;

  .btn-page {
    right: 0;
  }
}

.btn-page {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: @text-color;
  opacity: 0;

  @media (min-width: @screen-md) {
    .btn-lg();
    margin-top: -22.5px;
    border: 0;
    border-radius: 0;
  }
}

.content-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content {
  position: absolute;
  top: @navbar-wrapper-height;
  bottom: @navbar-wrapper-height;
  left: 5%;
  right: 5%;
  overflow: hidden;

  @media (min-width: @screen-sm) {
    left: 11%;
    right: 11%;
  }

  *::selection {
    background: @brand-primary;
    color: #fff;
  }

  p {
    margin-bottom: 1em;
  }
}

.black {
  background: #000;
  color: #fff;

  .btn-page {
    color: #fff;
  }
}

.sepia {
  background: #e7dfc8;
  color: #331713;

  .btn-page {
    color: #331713;
  }
}

.content-title {
  position: fixed;
  top: 20px;
  width: 100%;
  color: @gray-light;
  text-align: center;
}

.content-pages {
  position: fixed;
  bottom: 20px;
  width: 100%;
  color: @gray-light;
  text-align: center;
}

.no-touch {
  .navbar-wrapper {
    &:hover,
    &:focus,
    &:active {
      .navbar-fixed-top {
        top: 0;
      }

      .navbar-fixed-bottom {
        bottom: 0;
      }
    }
  }

  .navbar-btns {
    > li {
      > a {
        &:hover,
        &:focus,
        &:active {
          background: darken(@brand-primary, 10%);
        }
      }
    }
  }

  .navbar-inverse {
    .navbar-btns {
      li {
        a {
          &:hover,
          &:focus,
          &:active {
            background: darken(@brand-primary, 10%);
          }
        }
      }

      .open {
        a {
          &:hover,
          &:focus,
          &:active {
            background: darken(@brand-primary, 10%);
          }
        }
      }
    }
  }

  .btn-page-wrapper {
    &:hover,
    &:focus,
    &:active {
      .btn-page {
        opacity: 1;
      }
    }
  }

  .btn-page {
    &:hover,
    &:focus,
    &:active {
      background: rgba(0, 0, 0, .1);
      color: @text-color;
    }
  }

  .black {
    .btn-page {
      &:hover,
      &:focus,
      &:active {
        background: rgba(255, 255, 255, .1);
      }
    }
  }

  .sepia {
    .btn-page {
      &:hover,
      &:focus,
      &:active {
        background: rgba(0, 0, 0, .1);
      }
    }
  }

  .btn-color {
    &:hover,
    &:focus,
    &:active {
      border: 3px solid @brand-primary;
      .box-shadow(none);
    }
  }
}

.touch {
  .navbar-btns {
    > li {
      > a {
        &:hover {
          background: @brand-primary;
        }

        &:focus,
        &:active {
          background: darken(@brand-primary, 10%);
        }
      }
    }
  }

  .navbar-inverse {
    .navbar-btns {
      li {
        a {
          &:hover {
            background: @brand-primary;
          }

          &:focus,
          &:active {
            background: darken(@brand-primary, 10%);
          }
        }
      }

      .open {
        a {
          &,
          &:hover,
          &:focus,
          &:active {
            background: darken(@brand-primary, 10%);
          }
        }
      }
    }
  }
}

.standalone {
  .navbar-wrapper {
    .navbar-fixed-top {
      top: -(@navbar-height + 15px);
      height: @navbar-height + 15px;
      padding-top: 15px;

      &.open {
        top: 0;
      }
    }
  }
}
