doctype html

html.no-js(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")

        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(http-equiv="cleartype", content="on")

        meta(name="google-site-verification", content="9IzBczLunA3sbocGcB98kdaTfC33WNjrC36rTJSwZ7I")

        //- Add to homescreen for Chrome on Android
        meta(name="mobile-web-app-capable", content="yes")

        //- Add to homescreen for Safari on iOS
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
        meta(name="apple-mobile-web-app-title", content="Mentelin")

        //- Tile icon for Win8 (144x144-precomposed.png + tile color HEX)
        meta(name="msapplication-TileImage", content="images/touch-icons/ms-touch-icon-144x144-precomposed.png")
        meta(name="msapplication-TileColor", content="#e55d40")

        base(href="/")

        title Mentelin

        meta(name="author", content="Mentelin")
        meta(name="description", content="Mentelin")
        meta(name="keywords", content="Mentelin")

        //- Place favicon.ico and apple-touch-icon.png in the root directory

        //- Generic Icon for touch 57x57.png
        link(rel="shortcut icon", href="images/touch-icons/touch-icon-57x57.png")

        //- Chrome Add to Homescreen 196x196.png
        link(rel="shortcut icon", href="images/touch-icons/touch-icon-196x196.png", sizes="196x196")

        <!-- build:css(app) styles/main.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->

        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="css/theme.css")
        <!-- endbuild -->

    body(ng-app="mentelinApp")
        //[if lt IE 9]>
            <div class="container alert alert-danger fade in">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
                You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.
            </div>

            <script src="bower_components/es5-shim/es5-shim.js"></script>
            <script src="bower_components/json3/lib/json3.min.js"></script>
            <![endif]

        div(class="container")
            div(ng-include="'partials/navbar.html'")
            div(ng-view)

        noscript
            img.hidden(src="//mc.yandex.ru/watch/20900419", alt="metrika")

        <!-- build:js(app) scripts/scripts.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
        <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
        <script src="bower_components/jszip/dist/jszip.js"></script>
        <!-- endbower -->

        script(src="scripts/seo.js")
        script(src="scripts/app.js")
        script(src="scripts/controllers/main.js")
        script(src="scripts/controllers/navbar.js")
        script(src="scripts/controllers/login.js")
        script(src="scripts/controllers/signup.js")
        script(src="scripts/controllers/settings.js")
        script(src="scripts/services/auth.js")
        script(src="scripts/services/session.js")
        script(src="scripts/services/user.js")
        script(src="scripts/directives/mongooseError.js")
        <!-- endbuild -->
